<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portofilo</title>
    <link rel="icon" type="image/x-icon" href="public/images/slika.png">
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div class="nav_traka">
      <ul>
        <li><a href="/views/error.ejs">Portofiloo</a></li>
        <li><a href="/views/error.ejs">Projekti</a></li>
        <li><a href="/views/error.ejs">Blog</a></li>
        <li><a href="/views/error.ejs">Usluge</a></li>
        <li><a href="/views/error.ejs">Kontakt</a></li>
      </ul>
    </div>
  </body>
</html>
