body {
  background-color: rgba(255, 255, 255, 0.448);
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
.nav_traka{
  position: relative;
  left: -50px;
  top: -40px;
}
a{
  font-size: 20px;
  margin-left: 50px;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0px;
  overflow: hidden;
  background-color: #333;
  position: sticky;
  height: 200px;
}
li {
  float: left;
  position: relative;
  top: 70px;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}